  <div class="container">
  <div class="row justify-content-center">
      <div class="col-md-4 ">
                <span class="material-symbols-outlined icon-back"
                (click)="voltarTela()"
                >
                    arrow_back
                </span>
            </div>
      <div class="col-md-8">
          <h2 class="text-center">Tabela</h2>
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col">Nome</th>
                      <th scope="col">Email</th>
                      <th scope="col">Ações</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Nome Exemplo</td>
                      <td>email@exemplo.com</td>
                      <td>
                          <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                  Ações
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" (click)="jogarGame()">Jogar</a></li>
                              </ul>
                          </div>
                      </td>
                  </tr>
                  
                </tbody>
              </table>
          </div>
      </div>
    </div> 