@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.main-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
}
.card-main{
    background-color: rgb(255, 238, 238);
    animation: fadeIn 2s;
    border-radius: 3px;
}
.card-header{
    border-bottom: 1px solid rgb(118, 118, 118)
}
.div-card{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.div-icon{
    width: 10%;
}


.div-titulo{
    width: 90%;
    display: flex;
    justify-content: center;
}
.titulo{
    font-size: 40px;
    font-family: 'FontQueezy', sans-serif;
    animation: fadeIn 10s;
    word-spacing: 15px
}

.card-question{
    margin-top: 4px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1px;
}
label{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    /* text-shadow: 0px 0px 2px black; */
    text-align: start;
}
.span-numerico{
    box-shadow: 0px 0px 10px -1px rgb(23, 21, 21);
    border-radius: 50%;
    width: fit-content;
    background-color: #86378c;
    padding: 10px;
}

.div-label-question{
    width: 100%;
}

.div-input-question{
    width: 100%;
}
textarea {
    /* border: none; */
    resize: none;
    /* border: none; */
    width: 100%;
    margin-bottom: 2px;
    padding: 6px;
    font-size: 50px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 238, 238);
    flex-wrap: wrap ;
    color: rgb(255, 251, 251);
    font-weight: 600;
    text-shadow: 2px 2px 10px  rgba(4, 0, 0, 0.5);
    padding-left: 50px;
}

.div-card-imagem{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div-imagem{
    width: 30%;
    height: 70%;
}
img{
    width: 100%;
    height: 100%;
}
.div-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* button{
    width: 30%;
    height: 50%;
    padding-bottom: 15px;
    text-align: center;
    font-size: 15px;
    background-color: #86378c;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    border: none;
    border-radius: 4px;
} */

.card-div-input-respostas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    margin-bottom: 5px;

}

.div-input{
    width: 40%;
    margin-bottom: 5px;
}
.input-resposta{
    border: none;
    outline: none;
    /* width: 100%; */
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #340234;
    font-size: 25px;
    color: white;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0px 0px 10px  rgba(249, 247, 247, 0.5);

}
.input-resposta:focus::placeholder{
    color: transparent;
    text-shadow: none;
}
/* .input-resposta:hover{
    background: #12a925;
    color: white;
    font-weight: 900;
} */

.answer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 5px;
  }

  .card-main-pergunta{
    width: 100%;
    margin-bottom: 3px;
  }

  .card-pergunta{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: center;
  }

input{
    width: 100%;
    padding: 4px;
    border: none;
    box-shadow: 0px 0px 2px 3px rgb(227, 197, 231);
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 2px;
    font-family: "ROBOTO";
}
.card-main-question-answer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.card-checkbox{
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 5px;

}
.checkbox{
    appearance: none;
    width: 20px;
    height: 20px;
    box-shadow: 0px 0px 1px 2px rgb(69, 162, 3);
    cursor: pointer;
}
.checkbox:checked{
    background-color: rgb(69, 162, 3);
}
.checkbox:checked::after{
    font-family: "Material Icons";
    content: \e876;
    width: 24px;
    height: 24px;
}
.label-resposta-correta{
    font-size: 14px;
    color: red;
}
.input-question:focus::placeholder{
    color: transparent;
    text-shadow: none;
}

.card-botao-main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.card-botao{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: end;
}

button{
    width: 100%;
}

.input-question{
    width: 100%;
    box-shadow: 0px 0px 2px 1px rgb(182, 181, 181);
    padding: 5px;
}
.card-icon{
    width: fit-content;
    box-shadow: 0px 0px 2px 1px rgb(182, 181, 181);
    border-radius: 5px;
    background: green;
    display: flex;
    align-items: center;
    padding: 3px;
    cursor: pointer;
}

.icon{
 font-size: 35px;
 color: white;
}
.icon:hover{
    background-color: rgb(17, 122, 17);
}

.icon-back{
    font-size: 40px;
    color: black;
    cursor: pointer;
}