<!-- 
  <div class="card-modal">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Senha</label>
    </div>
        </div>
        <div class="card-botao">
          <div class="col-md-6">
            
            <button class="btn  btn-lg   btn-danger  ">Cancelar</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-lg btn-success ">Logar</button>
          </div>
        </div> -->
        <div class="main-card">

          <div class="card-main">
            <div class="row justify-content-center card-login">
              <div class="col-md-4">
                  <h2 class="text-center">Login</h2>
                  <form  (submit)="authenticaUser($event)"  [formGroup]="loginForm">
                      <div class="mb-3">
                          <label for="email" class="form-label">Email</label>
                          <input type="text" class="input-email" formControlName="email" id="email" required>
                      </div>
                      <div class="mb-3">
                          <label for="password-field" class="form-label">Senha</label>
                            <input type="password" class="input-senha" formControlName="password" id="password-field" required>
                          <!-- <span  *ngIf="!icon_visible" class="material-symbols-outlined eye-icon" (click)="togglePasswordVisibility()">
                            visibility
                            </span>
                          <span *ngIf="icon_visible" class="material-symbols-outlined eye-icon" (click)="togglePasswordVisibility()">
                            visibility_off
                            </span> -->
                          <!-- <i class="fa fa-eye-icon" (click)="togglePasswordVisibility()"></i> -->
                      </div>
                      <div class="mb-3">
                          <a href="#">Redefinir a senha</a>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <button type="submit" class="btn btn-success w-100">Entrar</button>
                        </div>
                        <div class="col-md-6">
                          <button type="submit" class="btn btn-danger w-100 " (click)="mudarTela()">Cancelar</button>

                        </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
          </div>